<div class="js-font-info fontset-form">

  <div class="m-edit-modal-header">

    <div class="left">
      Edit project
    </div>

    <div class="right">
      ?
    </div>

  </div>

  <div class="left">
    <%= render 'projects/form' %>
  </div>

  <div class="right">
    tktktkt
  </div>

</div>