<div class="js-font-info fontset-form">

  <div class="m-edit-modal-header">

    <div class="left title">
      Edit project
    </div>

    <div class="right">
      <a href="#" class="icon-cancel"></a>
    </div>

  </div>

  <div class="left m-edit-modal__inner">
    <%= render 'projects/form' %>
  </div>

</div>