<div class="js-font-info fontset-form">

  <div class="m-edit-modal-header" >

    <div class="left">Font sets</div>

    <div class="right">
      <%= link_to 'Add a font set', new_project_font_set_path(@project.id), class: "btn btn-primary"  %>
    </div>

  </div>

  <div class="left">
    <%= render 'form' %>
  </div>

  <div class="right">
    tktktkt
  </div>

</div>