<div class="js-font-info fontset-form">

  <div class="m-edit-modal-header" >

    <div class="left title">Font sets</div>

    <div class="right">
      <a href="#" class="close-modal icon-cancel"></a>
    </div>

  </div>

  <div class="left m-edit-modal__inner">
    <%= render 'form' %>
  </div>

</div>