$m : '.m-edit-modal';

#{$m} {
  @include transform(translateX(-50%) translateY(-50%));
  font-family: sans-serif;
  line-height: 1.5;
  background-color: rgba(0,0,0,0.8);
  border-radius: 5px;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  max-width: 750px;
  width: 75%;


  dl {
    padding: 1rem 2rem;
  }

  dt {
    width: 50%;
    float: left;
    font-weight: 100;
    padding-right: 0.5rem;
    font-size: 0.75rem;
    line-height:2.4;
  }

  dd {
    padding-left: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .title {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__inner {
    padding: 1rem 2rem;
  }

  .icon-plus-circle {
    margin-top: 5px;
    font-size: 0.8em;
    &:before {
      margin-right: 5px;
    }
    &:hover:before {
      color: white;
    }
  }

  .close-modal,
  .icon-plus-circle  {
    color: white;
    &:hover {
      color: turquoise;
      text-decoration: none;
    }
  }

  .panel-heading,
  .form-group label {
    display: block;
  }
  .panel-heading {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .form-group {
    margin-bottom: 8px;
    font-size: 0.9em;
    font-weight: 100;
  }


  .panel_wrap {
    display: table;
    width: 100%;
    .panel.left,
    .panel.right {
      display: table-cell;
      width: 50%;
    }
    .panel.left {
      padding-right: 10%;
    }
    .panel.right {
      padding-left: 10%;
    }
  }
  .form-control {
    @include box-shadow(inset 0 1px 0 rgba(black, 0.3), 0 1px 0 black);
    width: 100%;
    padding: 5px;
    color: #000;
    background: rgba(white, 0.85);
    border-radius: 3px;
    border: none;
    &.hex {
      width: calc(100% - 40px);
      display: inline;
    }
    &[type = "color"] {
      background: transparent;
      display: inline;
      vertical-align: middle;
      border: none;
      height: 31px;
      width: 31px;
      padding: 0;
    }
  }
  .actions {
    text-align: right;
  }
  .btn {
    cursor: pointer;
    margin-top: 25px;
    background: turquoise;
    padding: 5px 15px;
    color: white;
    border-radius: 2px;
    border: none;
    &:hover {
      background: darken(turquoise, 10%);
    }
  }

}

#{$m}-header {
  padding: 1rem;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  border-radius: 5px;

  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}