$m : '.m-toggle';

#{$m} {
  &.admin {
    position: fixed;
    color: white;
    top: 10px;
    left: 10px;
    z-index: 2;
    &:hover {
      color: #282828;
      text-decoration: none;
    }
  }
  &.edit {
    position: fixed;
    color: white;
    top: 10px;
    left: 10px;
    z-index: 2;
    &:hover {
      color: #282828;
      text-decoration: none;
    }
    &.active:hover:after {
      background: #282828;
    }
    &.active:after {
      @include transform(rotate(45deg));
      content: "";
      position: absolute;
      width: 19px;
      height: 2px;
      background: white;
      top: 7px;
      left: 2px;
      right: 0;
      bottom: 0;
    }
  }
  a {
    color: white;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  &.paginate {
    position: fixed;
    top: 50%;
    margin-top: -35px;
    color: white;
    z-index: 2;
    width: 50px;
    height: 50px;
    line-height: 54px;
    text-align: center;
    background-color: rgba(black, 0.5);
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    &:hover {
      background-color: rgba(black, 0.75);
      text-decoration: none;
    }
  }

  span.sets,
  a.edit_project_toggle,
  a.edit_fontset_toggle {
    font-family: sans-serif;
    position: absolute;
    line-height: 20px;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 12px;
    top: -21px;
    height: 20px;
    text-align: center;
    background-color: rgba(black, 0.5);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    &.new {
      top: -42px;
    }

    &:hover {
      background-color: rgba(black, 0.75);
    }
  }

  a.edit_project_toggle {
    top: -42px;
  }


}