/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require codemirror
 *= require solarized
 */

@import "bootstrap";
@import "bootstrap/theme";

body { padding-top: 70px; }

$m: '.m-project';

#{$m}__table ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//boostrap overrides
.navbar-brand {
  @include transition(all ease-in-out 0.3s);
  text-indent: -9999px;
  background-image: image-url('logo.png');
  width: 110px;
  background-size: 100%;
  &:hover {
    opacity: 0.75;
  }
}

.form-control.color {
  border: none;
  box-shadow: none;
  padding: 0;
  width: 34px;
  height: 34px;
  background: transparent;
}