// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$m: '.m-project';

#{$m}__table ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}